<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'fcgt/style_full_rull.css' %}" />
<link rel="shortcut icon" href="{% static "fcgt/images/favicon-FC.jpg" %}" type="image/jpg">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>ACHTUNG! Faber-Castell ищет таланты!</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<div id="wrapper">


<header>
    <div class="title">
                <div id="share">
            <div class="shareDiv">
            <span class="shareSpan">
            Поделиться</span>
            <div class ="shareImg">

<a id="shareT" href="https://twitter.com/intent/tweet">
   <img src="{% static "fcgt/images/twitter.png" %}" />
</a>
            <a id="shareF" href="http://www.facebook.com/sharer.php?u=http://www.faber-castell.com/">
   <img src="{% static "fcgt/images/Facebook.png" %}" />
</a>
            <a id="shareV" href="http://vk.com/share.php?url=http://www.faber-castell.com/">
   <img src="{% static "fcgt/images/vk.png" %}" />
</a>
            <a id="shareG" href="https://plus.google.com/share?url=http://www.faber-castell.com/">
   <img src="{% static "fcgt/images/google.png" %}" />
</a>
            <a id="shareO" href=" https://connect.ok.ru/offer?url=mypagetoshare">
   <img src="{% static "fcgt/images/ok.png" %}" />
</a>
</div>
        </div>
            </div>
        <div class="logo">
            <span id="auchtung">ACHTUNG!  </span>
            <img id="swoosh" src="{% static "fcgt/images/swoosh.png" %}" alt="swoosh">
            <a href="/"><img src="{% static "fcgt/images/logo.png" %}" alt="Logo"></a>
            <span>  Ищет таланты!</span>
        </div>
        <nav class="menu">
         <ul class="top-menu">
            <li><a id="currentlink" href="{% url 'fcgt:rules' %}">ПРАВИЛА </a></li>
            <li><a href="{% url 'fcgt:uchastnikam' %}">УЧАСТНИКАМ</a></li>
            <li><a href="{% url 'fcgt:jury' %}">ЖЮРИ</a></li>
            <li><a href="{% url 'fcgt:nagradi'%}">ПРИЗЫ</a></li>
             <li> <a href="{% url 'fcgt:index' %}#send">УЧАСТВОВАТЬ</a></li>
             <li> <a href="{% url 'fcgt:where_buy' %}">ГДЕ КУПИТЬ</a></li>
          </ul>
        </nav>
    </div>
</header>

<div class="list">
        <ul class="gallerylink">
            <li><a href="{% url 'fcgt:gallery' %}"><img src="{% static "fcgt/images/blackandwhite.png" %}" alt="black and white">Черное и Белое <br>и Серое</a></li>
            <li><a href="{% url 'fcgt:gallery2' %}"><img src="{% static "fcgt/images/trypaint.png" %}" alt="black and white">Цветопробы или <br>Profi vs Hobby</a></li>
            <li><a href="{% url 'fcgt:gallery3' %}"><img src="{% static "fcgt/images/scatching.png" %}" alt="black and white">Скетчинг</a></li>
            <li><a href="{% url 'fcgt:gallery4' %}"><img src="{% static "fcgt/images/copypast.png" %}" alt="black and white">Copy+Paste или <br>Копипастеры всех стран <br>объединяйтесь</a></li>
            <li><a href="{% url 'fcgt:gallery5' %}"><img src="{% static "fcgt/images/MiniArt.png" %}" alt="black and white">Мини-художники</a></li>
        </ul>
 </div>



<div class="textwrap">
    <h1>УСЛОВИЯ Творческого конкурса<br>
«ACHTUNG! FABER-CASTELLTM ИЩЕТ ТАЛАНТЫ!»</h1>
    <h2>1. Наименование творческого конкурса: «ACHTUNG! FABER-CASTELL<sup>TM</sup> ИЩЕТ ТАЛАНТЫ!». (Внимание! Faber-Castell<sup>TM</sup> ищет таланты!) (далее – конкурс).</h2>
    <h2>2. Способ проведения конкурса и территория его проведения.</h2>
    <p>
2.1. По способу проведения конкурс относится к творческим заданиям. Определение победителей и вручение призов и подарков из призового фонда конкурса проводится единовременно в порядке и сроки, указанные в настоящих Условиях (раздел 7).<br>
2.2. Подарки (30  (Тридцать) наборов для графики  в металлической упаковке) в награждении победителей также участвуют и выдаются Организатором в порядке, установленном настоящими Условиями (пункт 7.5).<br>
2.3. Территория проведения конкурса: Российская Федерация, Беларусь, Казахстан.</p>
    <h2>3. Наименование Организатора конкурса его юридический и почтовый адрес, банковские реквизиты, идентификационный номер и сведения об открытии счетов в кредитной организации.</h2>
    <p>Наименование: Общество с ограниченной ответственностью «Фабер-Кастелл Анадолу» (далее – Организатор)<br>
Юридический адрес: 115432, г. Москва, ул. пр-т Андропова, дом 18, кор. 7<br>
Почтовый адрес 115432, г. Москва, а/я 79<br>
ИНН 7724804249, КПП 772501001<br>
ОГРН 1117746721795<br>
р/с в рублях: 40 702 810 000 000 000 956 в ООО «Дойче Банк», г. Москва<br>
БИК 044 525 101<br>
К/с 30 101 810 100 000 000 101</p>
    <h2>4. Сроки проведения конкурса:</h2>
    <p>Период приема заявок (работ на пре-модерацию) - с «01» мая 2016 года до «30» ноября 2016 года.<br>
Определение победителей в каждой номинации - с 01 по 15 декабря 2016 года включительно<br>
Публикация имен победителей – с 16 по 25 декабря 2016 г.<br>
Выдача призов – с даты публикации имен победителей по 15 февраля 2017 г.<br>
Все даты могут быть изменены решением Организатора конкурса.</p>
    <h2>5. Права и обязанности участников конкурса.</h2>
    <p>5.1. Участник имеет право:<br>
5.1.1. На получение информации о конкурсе;<br>
5.1.2. На получение, в случае признания его в соответствии с настоящими Условиями Победителем, в порядке и сроки, установленные в настоящих Условиях, приза;<br>
5.2. Участник обязан:<br>
5.2.1. Для участия в конкурсе выполнить условия участия, приведенные в пунктах 7.2 и 7.3 настоящих Условий.<br>
5.2.2. В случае признания участника победителем передать Организатору (его уполномоченному представителю) информацию и/или документы, установленные Условиями.<br>
5.2.3. В момент получения приза проверить его состояние на предмет его соответствия Условиям и наличия недостатков и в случае их выявления немедленно сообщить об этом Организатору.<br>
5.2.4. Информация, предоставляемая участником Организатору в соответствии с настоящими Условиями, должна быть достоверной.</p>
    <h2>6. Призовой фонд конкурса.</h2>
    <p>6.1. Приз за 1 место: сертификат на курс интенсивного обучения в Британской Высшей Школе Дизайна (г.Москва), или в Bang-Bang Education, или он-лайн обучение в школе рисования Вероники Калачевой или интенсивные курсы в Академической Школе Дизайна. Год обучения 2016-2017 – тематика краткосрочных интенсивных курсов выбирается победителем из числа заявленных в программе обучения Школы. Всего разыгрывается 6 сертификатов стоимостью до 60000 руб. каждый (в зависимости от выбранного курса). Выбранный курс и его стоимость (в целях налогообложения) указываются победителем в акте приема-передачи сертификата.<br>
        6.2. Приз за 2 место: сертификат на курс обучения в Bang-Bang Education, или он-лайн обучение в школе рисования Вероники Калачевой или интенсивные курсы в Академической Школе Дизайна., год обучения 2016-2017 – тематика краткосрочных интенсивных курсов выбирается победителем из числа заявленных в программе обучения Школы. Всего разыгрывается 4 сертификата стоимостью до 30000 руб. каждый (в зависимости от выбранного курса). Выбранный курс и его стоимость (в целях налогообложения) указываются победителем в акте приема-передачи сертификата.<br>
6.3. Приз за 3 место: Запас продукции Faber-Castell в эквиваленте 20000 руб. Всего разыгрывается 5 таких наборов.<br>
6.4. Специальный приз (приз поощрительной категории): Набор для графики Faber-CAstell. Всего в призовой фонд входит 30 наборов. Стоимостью до 1000 руб.<br>
6.5. Призовой фонд образуется за счет Организатора конкурса.<br>
6.6. Призовой фонд конкурса используется исключительно на выплату, передачу или предоставление выигрышей победителям конкурса.<br>
6.7. Организатору конкурса запрещается обременять призовой фонд конкурса какими-либо обязательствами, за исключением обязательств перед участниками конкурса по выплате, передаче или предоставлению выигрышей, а также использовать средства призового фонда конкурса иначе, чем на выплату, передачу или предоставление выигрышей. На призовой фонд конкурса не может быть обращено взыскание по иным обязательствам Организатора конкурса. Призовой фонд конкурса формируется до проведения конкурсного отбора работ жюри.<br>
6.8. Каждый участник может получить только один приз за 1, 2 или 3 место. Дополнительно допускается получение участником одного подарка (приза поощрительной категории).</p>
    <h2>7. Условия участия в конкурсе.</h2>
    <p>7.1. Участниками конкурса могут быть совершеннолетние, дееспособные физические лица,

постоянно проживающие на территории проведения конкурса. Несовершеннолетние лица вправе

принять участие в конкурсе только с согласия (через) своих законных представителей. Организатор

вправе в любой момент времени затребовать подобное согласие законных представителей на

участие в Конкурсе. В случае, если оно не будет предоставлено Участник утратит право на участие

в Конкурсе. <br>

Условием участия и победы не является покупка какого-либо товара или услуги. <br>

7.2. Для участия в конкурсе необходимо выполнить следующие условия:
        </p>
        <ul>

<li> Принять настоящие Условия;</li>

<li> Подготовить самостоятельно работу формата А3 материалами Faber-Castell; </li>

<li> Являться единственным и исключительным владельцем и правообладателем конкурсной

работы, и иметь право представить работу на конкурс. При необходимости по запросу

Организатора письменно предоставить все необходимые права на использование рисунка в

соответствии с настоящими Условиями; </li>

<li>Сфотографировать готовую работу, на фото должны присутствовать также материалы

Faber-Castell, которыми был нарисован конкурсный проект; </li>

<li>Выслать на e-mail contest@faber-castell.com.ru либо загрузить в социальные сети с активным

кодовым словом (хэштегом) #fabercastellgottalent или в соответствующий раздел сайта

www.fabercastellgottalent.com или в социальных сетях с соответствующими хэштегами по

номинациям: #fbgtblackwhitegrey(Черный и Белый и Серый), #fbgtproof (Цветопробы),

#fbgtsketch (Скетчинг), #fbgtcopypaste (Копипаст), #fbgtminime (Минихудожники), указав

следующую информацию: фамилия, имя, отчество, возраст на дату размещения или

отправки работы, свой e-mail, почтовый адрес для отправки приза/подарка с индексом,

специальный хештег #fabercastellgottalent. От имени несовершеннолетних лиц работы

высылают или загружают их законные представители. В таком случае дополнительно

размещается информация об авторе работы: фамилия, имя, отчество несовершеннолетнего

участника, возраст на дату размещения или отправки работы. Факт размещения или

направления работы таким законным представителем признается согласием для целей п.7.1

Условий;
</ul>
<p>
Все конкурсные работы будут опубликованы на сайте сайта www.fabercastellgottalent.com в конкурсном разделе в период с 01.05.2016 по 30.11.2016. в одном из 5-х подразделов: </p>
<table>
    <tr class="headerTr">
        <td>
Номинация
        </td>
        <td>
Продукция
        </td>
        <td>
Критерии работы
        </td>
    </tr>
    <tr>
        <td>Черное и Белое и Серое</td>
        <td>Чернографитные карандаши, уголь, фломастеры/маркеры, капиллярные ручки, пастель</td>
        <td>Законченная картина/картинка, любого формата</td>
    </tr>
    <tr>
        <td>Цветопробы или Profi vs Hobby</td>
        <td>Пастель сухая, масляная Законченная картина/картинка, Пастельные карандаши Акварельные/цветные карандаши</td>
        <td>Законченная картина/картинка, любого формата</td>
    </tr>
    <tr>
        <td>Скетчинг</td>
        <td>Фломастеры, маркеры, капиллярные ручки, цветные карандаши, акварельные карандаши</td>
        <td>Городская, архитектурная зарисовка, пейзаж, интерьер, зарисовки персонажей, fashion-скетчи и коллажи, дизайны логоблоков</td>
    </tr>
    <tr>
        <td>Copy+Paste или Копипастеры всех стран, объединяйтесь!</td>
        <td>Копии известных картин, выполненных графическими материалами</td>
        <td>Законченная картина/картинка, любого формата, номинация для любителей</td>
    </tr>
    <tr>
        <td>Мини-художники</td>
        <td>Рисунки юных художников 5-13 лет</td>
        <td>Законченная картина/картинка, любого формата</td>
    </tr>
</table>
<p>
    7.3. Организатор конкурса не рассматривает работы, содержание которых не соответствует

названным выше условиям, содержат в себе порнографию, нецензурные, бранные или жаргонные

слова и выражения, непристойные и оскорбительные образы и сравнения, содержат элементы

насилия, угрозы каких-либо действий, оскорбления чести и достоинства каких-либо лиц, клевету,

либо элементы, которые могут стать причиной возбуждения социальной, расовой, национальной

или религиозной розни. Работы не должны побуждать к ненависти или неприязни по отношению к

какой-либо группе лиц или к какому-либо лицу, содержать данные, материалы или элементы,

нарушающие действующее законодательство, в том числе содержать информацию о способах,

методах разработки, изготовления и использования наркотических средств, психотропных веществ

и их прекурсоров, местах приобретения таких средств, веществ и их прекурсоров, о способах и

местах культивирования наркосодержащих растений, содержать информацию о способах

совершения самоубийства; содержать призывы к совершению самоубийства; содержать

информацию о несовершеннолетнем, пострадавшем в результате противоправных действий

(бездействия), распространение которой запрещено федеральными законами; содержать

информацию, запрещенную законодательством о регулировании азартных игр; содержать

информацию, содержащую призывы к массовым беспорядкам, осуществлению экстремистской

деятельности, участию в массовых (публичных) мероприятиях, проводимых с нарушением

установленного порядка; содержать данные, материалы или элементы, воспроизводящие рекламу,

слоган, логотип, товарный знак третьего лица или иным образом указывающие на спонсорство или

поддержку со стороны третьего лица, коммерческой организации или на несоответствие духу и теме

конкурса, определённых Организатором, кроме товаров Faber-Castell. <br>

Работы должны быть оригинальными, не опубликованными ранее, не содержащими, не

включающими в себя и не использующими иным образом материалы или элементы,

принадлежащие третьему лицу, в том числе объекты интеллектуальной собственности третьих лиц,

в том числе права на результаты интеллектуальной деятельности третьих лиц и личные

неимущественные права третьих лиц. Участник соглашается гарантировать возмещение убытков

Организатору, возникших в результате и в отношении любых обязательств, исков, требований,

потерь, ущерба, издержек и расходов, обусловленных любым действием, упущением или

оплошностью участника и/или нарушением любых гарантийных обязательств, изложенных в

настоящем абзаце.<br>

Организатор оставляет за собой право по своему усмотрению дисквалифицировать любого

участника, представившего работу, не соответствующую требованиям к рисунку. В случае

представления незаполненной заявки на регистрацию в конкурсе или заявки, не соответствующей

настоящим Условиям, участник подлежит дисквалификации.<br>

7.4. Организатор не рассматривает работы, полученные позднее «30» ноября 2016 года;<br>

7.5. Организатор конкурса не несет ответственность за работы, утерянные или поступившие

Организатору позже 30.11.2016.<br>

7.6. Договор между Организатором и участником конкурса считается заключенным с момента

получения Организатором заявки участника. Заявкой считается фотография работы, присланная на

пре-модерацию. Фотография должна быть прислана в формате jpeg, четкая, цветная, без

использования фильтров графических программ, без использования фильтров социальных

приложений. Подача заявки на участие в конкурсе означает принятие настоящих условий

проведения конкурса.<br>

7.7. Работники Организатора, члены их семей, а также третьи лица, могущие быть привлеченными

Организатором для оказания услуг, связанных с проведением конкурса, и их работники к участию в

конкурсе не допускаются.<br>

7.8. Участник во всякое время возмещает убытки и соглашается гарантировать возмещение убытков

Организатору, возникшие в результате и в отношении любых обязательств, исков, требований,

потерь, ущерба, издержек и расходов, обусловленных любым действием, упущением или

оплошностью участника и/или нарушением любых гарантийных обязательств(a) если будет

доказано, что работа участника нарушает права собственности третьих лиц, права на объекты

интеллектуальной собственности, права на промышленную собственность, личные или

неимущественные права, или любые другие права третьих лиц, включая, помимо прочего,

авторское право, товарный знак, торговые наименования, промышленные образцы, патент,

коммерческую тайну, конфиденциальность персональной информации, рекламные материалы или

обязательства о соблюдении конфиденциальности; либо иным образом нарушает действующее

законодательство.<br>

7.9. Участник конкурса самостоятельно и за свой счет оплачивает все расходы, связанные с его

участием в конкурсе, в том числе, расходы по оплате услуг связи, включая услуги Интернет-

провайдеров, а также все иные расходы, которые могут возникнуть у участника (победителя)

конкурса, если иное прямо не установлено настоящими Условиями.
</p>

    <h2>8. Порядок определения победителей</h2>
    <p>8.1. Определение победителей, занявших первые, вторые, третьи места состоится «15» декабря

2016 года. Определение победителей и распределение призового фонда проводится специально

собранным жюри. Работы оцениваются по следующим критериям: соответствие номинации,

соответствие материалам, использованным в работе, отсутствие элементов, указанных в п.7.3

Условий.<br>

8.2 Подарки (пункт 2.2.) также участвуют в основном конкурсе, их получат 30 участников,

приславшие работы и выполнившие условия участия в конкурсе, а также получившие наибольшее

количество «лайков» по итогам еженедельного голосования.<br>

8.8. Победители конкурса будут определяться жюри Организатора путем экспертной и

профессиональной оценки работ по их собственному усмотрению и не подлежит оспариванию

участниками конкурса на основе следующих критериев (далее - «Критерии»):</p>
    <ul>

<li>художественные достоинства работы: рисовальная техника, работа с цветом;</li>

<li>креативность и оригинальность работы с точки зрения представления выбранной

номинации, а также оригинальности и новаторства работы с материалами Faber-Castell в

номинации.</li>
</ul>
<p>
8.5. Участники, признанные коллегией жюри победителями (выигравшими соответствующий приз),

фиксируются в протоколе, который должен быть оформлен и подписан членами жюри и утвержден

Генеральным директором Организатора, не позднее чем в течение трех рабочих дней с даты

завершения работы жюри.<br>

8.6. В случае выигрыша призов лицами, не достигшими совершеннолетия, лицами, признанными

недееспособными или ограниченно дееспособными, право получения приза переходит к родителям

(законным представителям), официальным опекунам либо попечителям таких лиц.<br>

8.7. Обладатели призов первого места вправе реализовать сертификат в качестве платы за

обучение в Британской Высшей школе дизайна. Подарочный сертификат не может быть обменен на

денежный эквивалент или на любой другой ценный приз.<br>

8.8. Направляя заявку, участник соглашается принимать участие в любой информационной или

рекламной деятельности, связанной с конкурсом, по обоснованной просьбе Организатора и за счет

Организатора, а также соглашается на использование Организатором и его аффилированными

лицами своего имени и изображения. Организатор заблаговременно сообщит участнику о любом

запросе от СМИ, исходящим от компании Организатора о проведении интервью.<br>

Рисунки также могут использоваться прессой и иными средствами массовой информации, и

участник соглашается на такое использование в отношении работы. Организатор оставляет за

собой право на публикацию для рекламных целей, имен, фамилий и изображений участников на

сайте конкурса или используя другие средства массовой информации.<br>

Факт участия в конкурсе подразумевает, что участники выражают свое безусловное согласие с тем,

что их имена, отчества, фамилии, фото- и видеоматериалы с их изображением, связанные с

участием в конкурсе, конкурсные работы, а также интервью и иные материалы о них могут быть

использованы Организатором и его аффилированными лицами в рекламных и иных коммерческих

целях как на территории Российской Федерации, так и за ее пределами в течение неограниченного

срока и без выплаты какого-либо вознаграждения.</p>

    <h2>8. Порядок и сроки получения выигрышей.</h2>
    <p>
        8.1. Призы за первое, второе (сертификаты на обучение) и третье (продукция Faber-Castell) место, а

также подарки будут вручаться победителям лично, доставляться участникам по почте, курьерской

службой или любым другим способом, непротиворечащим законодательству РФ с «15» декабря

2016 г. по «15» февраля 2017 г.<br>

8.2. Способ получения приза выбирает победитель, который должен уведомить Организатора о

выбранном им способе получения приза письменно, направив соответствующее уведомление

Организатору. В случае неполучения Организатором в разумный срок указаний от участника о

способе получения приза, он направляет приз победителю экспресс-почтой с уведомлением о

вручении.<br>

8.3. По итогам конкурса победители будут уведомлены Организатором по почте, e-mail или по

телефону (при предоставлении соответствующих данных участником Организатору).<br>

8.4. Результаты розыгрыша призового фонда конкурса будут опубликованы в течение десяти дней

со дня проведения розыгрыша на сайтах segment.ru и kanzoboz.ru, а также размещены на сайтах

<span class="link">www.faber-castell.com.ru</span> и конкурсной странице <span class="link">www.fabercastellgottalent.com</span><br>

8.5. Участники (законные представители), получившие уведомление о выигрыше соответствующего

приза, обязаны в течение 10 календарных дней с момента получения уведомления, сообщить

Организатору свои паспортные данные (серия, номер, выдавший орган, дату выдачи, место

регистрации, ИНН (при наличии), а также иные данные, необходимые для выполнения требований

НК РФ).<br>

8.6. Невостребованные в соответствии с положениями настоящего раздела призы хранятся у

Организатора. Лицо, выигравшее приз, вправе получить его у Организатора до 17 февраля 2017

года. По истечении указанного срока участник считается отказавшимся от приза и/или подарка,

Организатор вправе распорядиться невостребованными призами по своему усмотрению.<br>

8.7. Организатор конкурса оставляет за собой право не вступать в переписку и иные контакты с

участниками, за исключением случаев, указанных в настоящих условиях.

</p>
<h2>9. Порядок информирования участников конкурса об условиях конкурса.</h2>
<p>9.1. Общая информация о сроках и условиях проведения конкурса размещается Организатором на:<br>

А) листовках формата А4, на флаерах и другой рекламной продукции в розничных магазинах на

территории РФ, Беларуси и Казахстана, посредством баннерной рекламы на сайтах <span class="link">segment.ru</span>,

<span class="link">kanzoboz.ru</span>, <span class="link">faber-castell.com.ru</span>;<br>

Б) в Интернете на сайтах компаний-партнеров посредством новостей, баннерной рекламы;<br>

В) В различных интернет-сообществах, посвященных творчеству, хобби, художеству, художникам и

смежным темам.<br>

9.2. Общая информация об условиях проведения конкурса размещается на сайте <span class="link">www.faber-

castell.com.ru/fabercastellgottalent</span> и <span class="link">www.fabercastellgottalent.com</span><br>

9.3. В случае принятия Организатором решения о досрочном прекращении конкурса, Организатор

размещает такую информацию на сайте <span class="link">www.faber-castell.com.ru/fabercastellgottalent</span> и

<span class="link">www.fabercastellgottalent.com</span><br>

9.4. Приостановка или досрочное прекращение проведения конкурса не освобождает Организатора

конкурса от необходимости выплаты, передачи или предоставления выигрышей и совершения

других необходимых действий.<br>

9.5. Организатор конкурса обязан завершить проведение конкурса, в том числе осуществить

выплату, передачу или предоставление выигрышей, и совершить другие необходимые действия в

отношении тех участников конкурса, с которыми он заключил договор.</p>
    <h2>10. Общие положения.</h2>
    <p>10.1. Конкурс направлен на популяризацию продукции под товарным знаком «Faber-Castell» и

проводится с целью привлечения внимания потребителей к торговой марке «Faber-Castell».

Стоимость призового фонда относится к рекламным расходам Организатора по продвижению

канцелярской продукции под товарным знаком «Faber-Castell».<br>

10.2. Все работы, полученные Организатором в ходе розыгрыша, становятся собственностью

Организатора и не возвращаются авторам. Направляя работу для участия в конкурсе, участник

соглашается, что Организатор конкурса вправе воспроизводить работу, осуществлять ее публичный

показ и доведение до всеобщего сведения (в том числе в сети Интернет), распространять, сообщать

в эфир или по кабелю, создавать производные произведения на основе работы, а также

использовать работу всеми иными разрешенными законом способами, на условиях простой

(неисключительной лицензии) и на весь срок действия исключительного права на безвозмездной

основе с правом сублицензирования предоставленных прав для любых целей, включая публикацию

на веб-сайте Организатора, без каких-либо ссылок на авторство и без обязанности Организатора по

выплате дополнительного вознаграждения автору работы.<br>

10.3. Работы, отправленные с территории иных регионов, к участию в конкурсе не допускаются.<br>

10.4. С согласия лиц, принявших участие в конкурсе, их имена, фотографии, интервью и иные

материалы о них, не являющиеся конфиденциальной информацией, могут быть использованы

Организатором конкурса в программах популяризации марки «Faber-Castell». Участники вправе

давать интервью об участии в конкурсе, в том числе по радио и телевидению, а равно и в иных

средствах массовой информации, либо сниматься для изготовления рекламных материалов без

уплаты Организатором участнику какого-либо вознаграждения. Все права (на воспроизведение, на

распространение, на импорт, на публичный показ, на публичное исполнение, на передачу в эфир, на

сообщение для всеобщего сведения по кабелю, на перевод, на переработку) на такие публикации,

интервью и иные рекламные материалы принадлежат Организатору конкурса с момента

направления работы на пре-модерацию.<br>

10.5. Факт направления конкурсной работы на пре-модерацию означает, что участник ознакомлен и

согласен с условиями конкурса.<br>

10.6. Ответственность за уплату применимых налогов и иных существующих обязательных

платежей, установленных действующим законодательством РФ, несет участник, получивший приз,

за исключением случаев, когда Организатор выступает в качестве налогового агента.

10.7. В соответствии со статьей 228 Налогового кодекса РФ, участник, выигравший приз, стоимость

которого превышает 4000 руб., обязан представить в налоговый орган соответствующую налоговую

декларацию.<br>

10.8. В соответствии с Налоговым кодексом РФ Организатор является налоговым агентом и

удерживает налог по ставке 35% с суммы (Стоимость приза (руб.) минус 4000 руб., затем умножить

на 35%) и уведомляет налоговый орган по месту нахождения Организатора.<br>

10.9. Заключая договор в порядке, предусмотренном 7.3 Условий, участник дает свое согласие на

обработку персональных данных, сообщенных участником в рамках участия в конкуре, а именно

совершение действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от 27.07.2006 № 152 -

ФЗ О персональных данных, и подтверждает, что, давая такое согласие, он действует свободно,

своей волей и в своем интересе. Согласие участника на обработку персональных данных является

конкретным, информированным и сознательным.<br>

Настоящее согласие участника признается исполненным в простой письменной форме, на

обработку следующих персональных данных: фамилии, имени, отчества; возраста; места

пребывания (город, область, р-н, улица, дом); номерах телефонов; адресах электронной почты (E-

mail).<br>

Участник предоставляет Организатору право осуществлять следующие действия (операции) с

персональными данными: сбор и накопление; хранение в течение установленных нормативными

документами сроков хранения отчетности, но не менее трех лет с момента даты прекращения

конкурса; уточнение (обновление, изменение); использование; уничтожение; обезличивание;

передача по требованию суда, в т.ч., третьим лицам, с соблюдением мер, обеспечивающих защиту

персональных данных от несанкционированного доступа.<br>

Указанное согласие действует бессрочно с момента предоставления данных и может быть отозвано

участником путем подачи заявления Организатору с указанием данных, определенных ст. 14 Закона

«О персональных данных». Отзыв согласия на обработку персональных данных может быть

осуществлен путем направления участником соответствующего распоряжения в простой

письменной форме на адрес электронной почты contest@faber-castell.com.ru.<br>

10.10. Дополнительную информацию об Организаторе, о правилах проведения, количестве призов

или выигрышей по результатам мероприятия, сроках, месте и порядке их получения можно получить

у Организатора по телефону (495) 225-96- 34.<br>

10.11. К настоящим Условиям и отношениям между участником и Организатором, возникающим в

связи с проведением конкурса, подлежит применению право Российской Федерации. При

возникновении споров, подлежащих рассмотрению судом, такие споры подлежат рассмотрению в

суде по месту нахождения Организатора.</p>


</div>
    <footer>
        <div class="footerwrap">
            <ul class="footerlist">
                <li class="footerleftmain">
                    <div class="footerright"><span>ООО "Фабер-Кастелл Анадолу</span></div>
                    <div class="footerright"><span>115432, Москва, проспект Андропова, дом 18/корп. 7</span></div>
                    <div class="footerright"><span>Бизнес-парк "Nagatino i-land"</span></div>
                </li>
                <li class="footerleft">
                    <div class="number"><span>+7 (495) 225 96 34</span></div>
                    <div class="email"><span>contest@faber-castell.com.ru</span></div>
                </li>
    </footer>

</body>
</html>