<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'fcgt/styleGallery.css' %}" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Auchtung! Faber Castell ищет таланты!</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <script src="{% static "fcgt/script.js" %}"></script>
</head>
<body>
<div id="wrapper">


<header>
    <div class="title">
                <div id="share">
            <div class="shareDiv">
            <span class="shareSpan">
            Поделиться</span>
            <div class ="shareImg">

<a id="shareT" href="https://twitter.com/intent/tweet">
   <img src="{% static "fcgt/images/twitter.png" %}" />
</a>
            <a id="shareF" href="http://www.facebook.com/sharer.php?u=http://www.faber-castell.com/">
   <img src="{% static "fcgt/images/Facebook.png" %}" />
</a>
            <a id="shareV" href="http://vk.com/share.php?url=http://www.faber-castell.com/">
   <img src="{% static "fcgt/images/vk.png" %}" />
</a>
            <a id="shareG" href="https://plus.google.com/share?url=http://www.faber-castell.com/">
   <img src="{% static "fcgt/images/google.png" %}" />
</a>
            <a id="shareO" href=" https://connect.ok.ru/offer?url=mypagetoshare">
   <img src="{% static "fcgt/images/ok.png" %}" />
</a>
</div>
        </div>
            </div>
        <div class="logo">
            <span id="auchtung">AUCHTUNG!  </span>
            <img id="swoosh" src="{% static "fcgt/images/swoosh.png" %}" alt="swoosh">
            <a href="/"><img src="{% static "fcgt/images/logo.png" %}" alt="Logo"></a>
            <span>  Ищет таланты!</span>
        </div>
        <nav class="menu">
         <ul class="top-menu">
            <li><a href="{% url 'fcgt:rules' %}">ПРАВИЛА </a></li>
            <li><a id="currentlink" href="{% url 'fcgt:uchastnikam' %}">УЧАСТНИКАМ</a></li>
            <li><a href="{% url 'fcgt:jury' %}">ЖЮРИ</a></li>
            <li><a href="{% url 'fcgt:nagradi'%}">ПРИЗЫ</a></li>
             <li> <a href="{% url 'fcgt:index' %}#send">УЧАВСТВОВАТЬ</a></li>
          </ul>
        </nav>
    </div>
</header>

<div class="list">
        <ul class="gallerylink">
            <li><a href="{% url 'fcgt:gallery' %}"><img src="{% static "fcgt/images/blackandwhitePick.png" %}" alt="black and white">Черное и белое <br>и Серое</a></li>
            <li><a href="{% url 'fcgt:gallery2' %}"><img src="{% static "fcgt/images/trypaint.png" %}" alt="black and white">Цветопробы или <br>Profi vs Hobby</a></li>
            <li><a href="{% url 'fcgt:gallery3' %}"><img src="{% static "fcgt/images/scatching.png" %}" alt="black and white">Скетчинг</a></li>
            <li><a href="{% url 'fcgt:gallery4' %}"><img src="{% static "fcgt/images/copypast.png" %}" alt="black and white">Copy Paste или <br>Копипастеры всех стран <br>объединяйтесь</a></li>
            <li><a href="{% url 'fcgt:gallery5' %}"><img src="{% static "fcgt/images/MiniArt.png" %}" alt="black and white">Мини-художники</a></li>
        </ul>
 </div>
    <div class="titleWrap">
        <ul class="titleWrapList">
            <li>
                <div><img src="{% static "fcgt/images/gallerystep1.png" %}"></div>
                <div class="titleText">
                    <h1>ПРОДУКЦИЯ</h1>
                    <span>Чернографитные карандаши, уголь,
фломастеры/маркеры, капиллярные
ручки, пастель.</span>
                </div>
            </li>
            <li>
                <div><img src="{% static "fcgt/images/gallerystep2.png" %}"></div>
                <div class="titleText">
                    <h1>КРИТЕРИИ ОТБОРА</h1>
                    <span>Законченная картина/картинка,
любого формата.</span>
                </div>
            </li>
            <li>
                <div><img src="{% static "fcgt/images/gallerystep3.png" %}"></div>
                <div class="titleText">
                    <h1>ПРИЗОВЫЕ МЕСТА</h1>
                    <span>
- 1 место;<br>
- 2 место;<br>
- 3 место.<br>
                    </span>
                </div>
            </li>

        </ul>
        <div class="clearfix"></div>
    </div>
     <div class="titleGallery">РАБОТЫ УЧАСТНИКОВ НОМИНАЦИИ</div>
<div class="galleryWrap">


{% if documents %}
    <ul>
        {% for document in documents %}

            <li class="galleryList">
                <a href="{{ document.docfile.url }}"><img id="{{ document.id }}" src="{{ document.docfile.url }}" alt="Reducto!" class="gallery"></a>
                <div class="galleryText">{{document.art_host_name}}, {{document.art_city}}</div>
            </li>

        {% endfor %}
    <div class="clearfix"></div>
    </ul>
{% else %}
    <div class="titleGallery">Ни кто еще не добавил работы в эту категорию, бедьте первыми!</div>
{% endif %}
</div>



    </div>

    <footer>
        <div class="footerwrap">
            <ul class="footerlist">
                <li class="footerleftmain">
                    <div class="footerright"><span>ООО "Фабер-Кастелл Анадолу</span></div>
                    <div class="footerright"><span>115432, Москва, проспект Андропова, дом 18/корп. 7</span></div>
                    <div class="footerright"><span>Бизнес-парк "Nagatino i-land"</span></div>
                </li>
                <li class="footerleft">
                    <div class="number"><span>+7 (495) 225 96 34</span></div>
                    <div class="email"><span>contest@faber-castell.com.ru</span></div>
                </li>
    </footer>

</body>
</html>