<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'fcgt/style.css' %}" />
<head>
    <meta charset="UTF-8">
    <title>Auchtung! Faber Castell ищет таланты!</title>
</head>
<body>
<header>
    <div class="upper_link">Achtung! <a href="">Faber - Castell</a> ищет таланты
        <nav class="share">twitter | facebook | google + | vkontakte | odnoklassniki</nav>
        <nav class="menu">
            <a href="{% url 'fcgt:rules' %}">Правила </a>
            <a href="{% url 'fcgt:uchastnikam' %}">Участникам </a>
            <a href="{% url 'fcgt:jury' %}">Жюри </a>
            <a href="{% url 'fcgt:nagradi'%}">Призы </a>
            <a href="{% url 'fcgt:add_art' %}">Учавствуй! </a>
        </nav>
    </div>
    <div class="lower_link">
        <nav class="gallery_links">
            <a href="{% url 'fcgt:gallery' %}">Черное и белое и серое</a>
            <a href="">Цветопробы или Profi vs Hobby</a>
            <a href="">Скетчинг</a>
            <a href="">Copy Paste или Копипастеры всех стран объединяйтесь</a>
            <a href="">Мини-художники</a>
        </nav>
    </div>
    <div class="prizi">
        Тут про призы
    </div>
    <div class="Еще призы">
        ЕЩЕ ПРИЗЫ!
    </div>
    <footer>
        <div>Сайт фаберКастел</div>
        <div>Телефон:+7444123123123</div>
    </footer>
</header>
</body>
</html>