{% extends "fcgt/base.html" %}
{% load staticfiles %}
{% block title%}Жюри конкурса Achtung {% endblock%}
{% block content %}
<h1 class="header">
    ЖЮРИ КОНКУРСА
</h1>
<ul class="jury_list">
    <li>
        <ul class="jury_set">
             <li>
                 <ul class="jury_set_left">
                     <li>
                        <img  src="{% static 'fcgt/images/FC-site-Barkov.png' %}"/>
                     </li>
                     <li>
                         <span class="jury_name">Владимир Барков</span>
                     </li>
                     <li>
                        <span class="jury_title">Российский художник</span>
                     </li>
                 </ul>
             </li>
            <li>
                <ul class="jury_set_right">
                     <li>
                        <p class="jury_text">
                            Владимир Барков родился в 1966 году. Предпочёл частное обучение государственному. Член Международного Художественного Фонда с 1992 года. Работает в различных жанрах и техниках. В основном, пишет картины в стиле философский сюрреализм, но не чужд импрессионизма и графической экспрессии. Картины Владимира Сергеевича есть в нескольких десятках стран мира. Свои работы называет иллюстрациями к жизни.
                        </p>
                     </li>
                </ul>
            </li>
            <li>
                <div class="jury_line"></div>
            </li>
        </ul>
    </li>
    <li>
        <ul class="jury_set">
             <li>
                 <ul class="jury_set_left">
                     <li>
                        <img  src="{% static 'fcgt/images/FC-site-Klimchyk.png' %}"/>
                     </li>
                     <li>
                         <span class="jury_name">Наташа Климчук</span>
                     </li>
                     <li>
                        <span class="jury_title">Сооснователь, креативный директор иллюстраторского агентства Bang!Bang!</span>
                     </li>
                 </ul>
             </li>
            <li>
                <ul class="jury_set_right">
                     <li>
                        <p class="jury_text">
                            Начала карьеру в сфере иллюстрации в 2004 году в Студии Лебедева, где около 5 лет руководила отделом иллюстрации, затем открыла первое в России иллюстраторское агентство Bang! Bang!, которое работает с лучшими русскими иллюстраторами.
                        </p>
                     </li>
                    <li>
                        <p class="jury_text">
                            Под крылом Bang! Bang! в ноябре 2015 открылась онлайн-школа, где желающий сделать иллюстрацию своим заработком может учиться из любой точки мира. Коммерчески успешные преподаватели учат анатомии, перспективе, композиции, акварели, 3D, скетчингу, леттерингу, мотивируют и лучших забирают в агентство.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <div class="jury_line"></div>
            </li>
        </ul>
    </li>
    <li>
        <ul class="jury_set">
             <li>
                 <ul class="jury_set_left">
                     <li>
                        <img  src="{% static 'fcgt/images/FC-site-Morozova.png' %}"/>
                     </li>
                     <li>
                         <span class="jury_name">Оля Морозова</span>
                     </li>
                     <li>
                        <span class="jury_title">Сооснователь, генеральный директор иллюстраторского агентства Bang!Bang!</span>
                     </li>
                 </ul>
             </li>
            <li>
                <ul class="jury_set_right">
                     <li>
                        <p class="jury_text">
                            В 2004 году начала работать в творческих студиях, в 2005 пришла в Студию Лебедева помогать Наташе развивать отдел иллюстрации. Три года спустя мы вместе открыли своё иллюстраторское агентство, и с 2008 года рисуем картинки для рекламы, обложек книг и музыкальных альбомов, выставок и много чего ещё. А в ноябре 2015 объединили свои знания о специфике работы с умениями наших лучших иллюстраторов и открыли онлайн-школу, где обучаем всех желающих дизайну, леттерингу и иллюстрации, чтобы вырастить больше профессионалов для российского рынка.
                        </p>
                     </li>
                </ul>
            </li>
            <li>
                <div class="jury_line"></div>
            </li>
        </ul>
    </li>
    <li>
        <ul class="jury_set">
             <li>
                 <ul class="jury_set_left">
                     <li>
                        <img  src="{% static 'fcgt/images/FC-site-Smirnov.png' %}"/>
                     </li>
                     <li>
                         <span class="jury_name">Тимофей Смирнов</span>
                     </li>
                     <li>
                        <span class="jury_title">Кандидат искусствоведения, имеет научные публикации</span>
                     </li>
                 </ul>
             </li>
            <li>
                <ul class="jury_set_right">
                     <li>
                        <p class="jury_text">
                            C отличием окончил Московский Государственный Академический институт (МГАХИ) им. В.И. Сурикова 2004–2005 Стипендиат Министерства Культуры РФ 2008 Награжден Золотой медалью Российской Академии Художеств за серию графических работ «Путешествие вокруг моей комнаты»
                        </p>
                     </li>
                </ul>
            </li>
            <li>
                <div class="jury_line"></div>
            </li>
        </ul>
    </li>
    <li>
        <ul class="jury_set">
             <li>
                 <ul class="jury_set_left">
                     <li>
                        <img  src="{% static 'fcgt/images/FC-site-Orlov.png' %}"/>
                     </li>
                     <li>
                         <span class="jury_name">Илья Орлов</span>
                     </li>
                     <li>
                        <span class="jury_title">Художник, иллюстратор, преподаватель</span>
                     </li>
                 </ul>
             </li>
            <li>
                <ul class="jury_set_right">
                     <li>
                        <p class="jury_text">
                            Закончил Институт им. Сурикова мастерскую искусства книги в 2003г, в том же году окончил Институт проблем современного искусства. Участник выставок современного и традиционного искусства. с 1998 года занимается монументальной росписью в общественных и частных интерьерах. с 2000 года выступает как иллюстратор и художник раскадровки, на сегодняшний день в портфолио колоссальное количество работ для известных российских журналов, ведущих рекламных агентств и киностудий. с 2009 года сотрудничает с иллюстраторской студией Bang-Bang Studio. с 2014г провожу мастер-классы по пастели и рисунку в рамках организованной компанией Faber-Castell школы искусств.
                        </p>
                     </li>
                </ul>
            </li>
            <li>
                <div class="jury_line"></div>
            </li>
        </ul>
    </li>
    <li>
        <ul class="jury_set">
             <li>
                 <ul class="jury_set_left">
                     <li>
                        <img  src="{% static 'fcgt/images/FC-site-Grigoryan.png' %}"/>
                     </li>
                     <li>
                         <span class="jury_name">Юрий Григорян</span>
                     </li>
                     <li>
                        <span class="jury_title">Член союза художников России</span>
                     </li>
                 </ul>
             </li>
            <li>
                <ul class="jury_set_right">
                     <li>
                        <p class="jury_text">
                            Григорян Юрий Дмитриевич родился в 1977 году. Выпускник Московского художественного института ИМ. В.И.Сурикова (окончил с отличием). Награжден золотой медалью академии художеств за лучший диплом. Картины художника находятся в музее современного искусства в Москве, а также в частных коллекциях в России, Италии, Хорватии, Англии, Австралии, США, Канаде, Германии, Корее, Китае.
                        </p>
                     </li>
                </ul>
            </li>   
        </ul>
    </li>
</ul>
{% endblock %}
