<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'fcgt/styleJury.css' %}" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Achtung! Faber Castell ищет таланты!</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<div id="wrapper">


<header>
    <div class="title">
                <div id="share">
            <div class="shareDiv">
            <span class="shareSpan">
            Поделиться</span>
            <div class ="shareImg">

<a id="shareT" href="https://twitter.com/intent/tweet?text=Achtung! Faber-Castell ищет таланты! http://fabercastellgottalent.com/">
   <img src="{% static "fcgt/images/twitter.png" %}" />
</a>
            <a id="shareF" href="http://www.facebook.com/sharer.php?u=http://fabercastellgottalent.com/">
   <img src="{% static "fcgt/images/Facebook.png" %}" />
</a>
            <a id="shareV" href="http://vk.com/share.php?url=http://fabercastellgottalent.com/">
   <img src="{% static "fcgt/images/vk.png" %}" />
</a>
            <a id="shareG" href="https://plus.google.com/share?url=http://fabercastellgottalent.com/">
   <img src="{% static "fcgt/images/google.png" %}" />
</a>
            <a id="shareO" href=" https://connect.ok.ru/offer?url=http://fabercastellgottalent.com">
   <img src="{% static "fcgt/images/ok.png" %}" />
</a>
</div>
        </div>
            </div>
        <div class="logo">
            <span id="auchtung">ACHTUNG!  </span>
            <img id="swoosh" src="{% static "fcgt/images/swoosh.png" %}" alt="swoosh">
            <a href="/"><img src="{% static "fcgt/images/logo.png" %}" alt="Logo"></a>
            <span>  Ищет таланты!</span>
        </div>
        <nav class="menu">
         <ul class="top-menu">
            <li><a href="{% url 'fcgt:rules' %}">ПРАВИЛА </a></li>
            <li><a href="{% url 'fcgt:uchastnikam' %}">УЧАСТНИКАМ</a></li>
            <li><a id="currentlink" href="{% url 'fcgt:jury' %}">ЖЮРИ</a></li>
            <li><a href="{% url 'fcgt:nagradi'%}">ПРИЗЫ</a></li>
             <li> <a href="{% url 'fcgt:index' %}#send">УЧАСТВОВАТЬ</a></li>
             <li> <a href="{% url 'fcgt:where_buy' %}">ГДЕ КУПИТЬ</a></li>
          </ul>
        </nav>
    </div>
</header>

<div class="list">
        <ul class="gallerylink">
            <li><a href="{% url 'fcgt:gallery' %}"><img src="{% static "fcgt/images/blackandwhite.png" %}" alt="black and white">Черное и Белое <br>и Серое</a></li>
            <li><a href="{% url 'fcgt:gallery2' %}"><img src="{% static "fcgt/images/trypaint.png" %}" alt="black and white">Цветопробы или <br>Profi vs Hobby</a></li>
            <li><a href="{% url 'fcgt:gallery3' %}"><img src="{% static "fcgt/images/scatching.png" %}" alt="black and white">Скетчинг</a></li>
            <li><a href="{% url 'fcgt:gallery4' %}"><img src="{% static "fcgt/images/copypast.png" %}" alt="black and white">Copy+Paste или <br>Копипастеры всех стран <br>объединяйтесь</a></li>
            <li><a href="{% url 'fcgt:gallery5' %}"><img src="{% static "fcgt/images/MiniArt.png" %}" alt="black and white">Мини-художники</a></li>
        </ul>
 </div>

<div class="juryWrapper">
    <div class="juryHeader">ЖЮРИ КОНКУРСА</div>
    <div class="jury1">
        <ul class="JuryList1">
            <li>
                <div><img class="portrait" src="{% static "fcgt/images/1Jury.png" %}" alt="1st Jury"></div>
                <div><span class="juryName">Смирнов Тимофей<br> Игоревич,</span></div>
                <div><span class="juryRang">кандидат искусствоведения,<br>
имеет научные публикации.</span></div>
            </li>
            <li>
                <img class="ealmOpen" src="{% static "fcgt/images/ealmOpen.png" %}" alt="ealmOpen"><div class="juryWords">
                    Несколько слов участникам: У меня есть уверенность, что рисунок по-прежнему не утратил своей актуальности в процессе формирования художника и играет одну из первостепенных ролей в создании художественного произведения, связанного с картинной плоскостью или плоскостью листа и, не побоюсь сказать, – даже
и киноэкрана, и компьютерного монитора.<br>
Искусство графики остаётся универсальным языком и базой для всех видов пластических искусств и большинства течений изобразительного искусства ну хотя бы у нас, в «немытой МАТУШКЕ РОССИИ». Художник в глазах нашего зрителя (печально это или радостно – не столь важно) лишь тогда идентичен своему «названию» – когда умеет рисовать. Ну а что значит ЭТО – «УМЕТЬ» –
я оставлю за скобками. Вот так... Знаю, что графика – это тренд, брэнд и МАСТ ХЭВ!<br>
С нетерпением жду ваших работ.</div><img class="ealmClose" src="{% static "fcgt/images/ealmClose.png" %}" alt="ealmClose">
                <div class="about">1980 Родился в Москве<br>
2004 C отличием окончил Московский Государственный Академический институт (МГАХИ) им. В.И. Сурикова<br>
2004–2005 Стипендиат Министерства Культуры РФ<br>
2008 Награжден Золотой медалью Российской Академии Художеств за серию графических работ «Путешествие вокруг моей комнаты»<br>
<br>
Кандидат искусствоведения, имеет научные публикации.<br>

<h1>ПЕРСОНАЛЬНЫЕ ВЫСТАВКИ:</h1>

2004 «Хорошо. Забытое. Старое. (Сравнительные интерпретации)», галерея «С'АРТ», Москва<br>
2006 «Хронотопы», Всесоюзная Государственная Библиотека иностранной литературы, Москва<br>
2007 «Цитаты и дубликаты. Летние каникулы с Тимофеем Смирновым, Галерея «Файн Арт», Москва<br>
2008 «Цитаты и дубликаты-2», Галерея «Грин-Арт», Пермь<br>

2010 Тимофей Смирнов, галерея «Carre D ’ore», Монако<br>
2010 «Контракт рисовальщика», Галерея «Файн Арт», Москва<br>

2011 «Мера ценности или Бешеные деньги», галерея «Файн-Арт», специальная программа Московской биеннале современного искусства, Москва,<br>

2013 «Протест Художника Тимофея Смирнова», галерея «Файн-Арт»,<br>

2014 «Градация серого», галерея «Файн-Арт»,<br>

2014 «Черным по белому или белым по черному», галерея «Файн-Арт»,<br>
2015 «Московская особая», галерея «Файн-Арт»,<br>

<h1>НЕКОТОРЫЕ ГРУППОВЫЕ ВЫСТАВКИ:</h1>

2004 «Космос-2», Дом науки и культуры, Берлин<br>
2004 «Между», Московский Музей современного искусства (ММСИ), Москва.<br>
2004 2-я независимая биеннале графики, «Манеж», Санкт-Петербург<br>
2004 «Мастерство и молодость», Галерея «А-3», Москва<br>
2004 Проект «Арт подмостки», «Арт-Манеж». Выст. центр ЦСКА, Москва.<br>
2005 «Мемория», ММСИ, Москва<br>
2005 «Ювенильное море», галерея «Файн Арт», Москва<br>
2005 Проект «Русалия», галерея «Манеж», Арт-Манеж, ЦВЗ «Манеж», Москва<br>
2006 «Жизненное пространство», отель «Мариотт», Прага<br>
2007 «Новый Ангеларий», ММСИ, Москва<br>
2007 «Арт-Манеж», Галерея «Виста», ЦВЗ «Манеж», Москва<br>
2007 Проект «Артографы», Новый Манеж, Москва<br>
2008 «Свобода выбора». ГЦМСИР, Москва<br>
2008 «Медведевка», галерея «С'АРТ», Москва<br>
2008 «Ночь в музее», Новый Манеж, Москва<br>
2008 «Миграция», 1-ая Молодежная международная биеннале современного искусства, ММСИ, Москва<br>
2008 «Картина. Хорошо. Забытое. Старое», 1-ая Молодежная международная биеннале современного искусства, Государственная Третьяковская Галерея, Москва<br>
2008 «Графические произведения старых и современных мастеров», КГМЗ, Кострома<br>
2009 «20 лет. Несерьезный юбилей», Галерея А-3, Москва<br>
2009 «Не жаркое лето», Галерея «Файн Арт», Москва<br>
2009 Ярмарка «Арт Москва», Центральный Дом Художника,Москва<br>
2010 «Автопортрет», ММСИ, Москва<br>

2010 «Артмосква», галерея «Файн-Арт», Москва, ЦДХ, Москва<br>

2011 «Артмосква», галерея «Файн-Арт», ЦДХ, Москва<br>

2012«Артмосква», галерея «Файн-Арт», ЦДХ, Москва<br>

2012 «Art Miami», галерея «Файн-Арт», ЦДХ, Москва<br>

2013 «Артмосква», галерея «Файн-Арт», ЦДХ, Москва<br>

2016 “Монокаури», галерея «MustART », Москва<br>
2016 «Портрет счастливых людей», Выставочный зал «Здесь на Таганке» , Москва</div>
            <div class="clearfix"></div></li>
        </ul>
        <img class="line" src="{% static "fcgt/images/line-white.jpg" %}" alt="line">
    </div>

     <div class="jury1">
        <ul class="JuryList1">
            <li>
                <div><img class="portrait" src="{% static "fcgt/images/2Jury.png" %}" alt="1st Jury"></div>
                <div><span class="juryName">Наташа Климчук</span></div>
                <div><span class="juryRang">креативный директор<br>
                        иллюстраторского агенства<br> и онлайн школы Bang! Bang!</span></div>
            </li>
            <li>
                <div class="about">
                    Начала карьеру в сфере иллюстрации в 2004 году в Студии Лебедева, где около
5 лет руководила отделом иллюстрации, затем открыла первое в России иллюстраторское агентство Bang! Bang!, которое работает с лучшими русскими иллюстраторами.<br>

Под крылом Bang! Bang! в ноябре 2015 открылась онлайн-школа, где желающий сделать иллюстрацию своим заработком может учиться из любой точки мира. Коммерчески успешные преподаватели учат анатомии, перспективе, композиции, акварели, 3D, скетчингу, леттерингу, мотивируют и лучших забирают в агентство.<br>


<h2>Web:</h2>
bangbangstudio.ru<br>
bangbangeducation.ru<br>
<br>
facebook.com/bangbangeducation<br>
facebook.com/studiobangbang<br>
                </div>
            </li>
        </ul>
         <img class="line" src="{% static "fcgt/images/line-white.jpg" %}" alt="line">
     </div>

     <div class="jury1">
        <ul class="JuryList1">
            <li>
                <div><img class="portrait" src="{% static "fcgt/images/3Jury.png" %}" alt="1st Jury"></div>
                <div><span class="juryName">Григорян Юрий<br>Дмитриевич</span></div>
                <div><span class="juryRang">выпускник Московского<br>
                        художественного института<br> им. В.И. Сурикова</span></div>
            </li>
            <li>
                <div class="about">
                   Григорян Юрий Дмитриевич родился в 1977 году. Выпускник

Московского художественного института ИМ. В.И.Сурикова (окончил с отличием).

Награжден золотой медалью академии художеств за лучший диплом. Член союза

художников России. Картины художника находятся в музее современного искусства в Москве, а также в частных коллекциях в России, Италии, Хорватии, Англии, Австралии, США, Канаде, Германии, Корее, Китае.<br>

2016 — выставка «Отцы и Дети» в Армянском музее Москвы и культуры наций<br>

2015 – выставка EQUUS, посвященная красоте лошади в Галерее 9/1<br>

2014 – выставка в государственном музее народов Востока – Диалог молча<br>

2014 – участие в АртСалоне2014 – Связь времен (проект Отцы и дети)<br>

2013 – выставка в школе живописи Перотти<br>

2013 – выставка в галерее Il Sogno Пезаро, Италия<br>

2013 – выставка в галерее «Открытый клуб» Москва<br>

2012-2013 – выставка «80 лет МСХ» в ЦВЗ Манеж, ЦДХ, ДХ на Кузнецком мосту<br>

2011 – персональная выставка в шоу руме AV Custom (Art Play)<br>

2011 – персональная выставка «Coffee Story» в галерее Вознесение<br>

2010 – персональная выставка «In Chains On Pillows» в галерее М’АРС<br>

2010 – выставка «АрмяноРосс», в театре Васильева, в рамках армянского фестиваля<br>

2010 – выставка «Диалог культур» в залах Московского Академического лицея<br>

2010 – «Мир Живописи» в ЦДХ.<br>

2009 – выставка в ММСИ, проект «My Love! My Friends!»<br>

2009 – московский союз художников в Малом Манеже<br>

2008 – международная Московская молодёжная биеннале современного иск-ва<br>

«Стой! Кто идёт?» в ММСИ и в Третьяковке<br>

2008 – фестиваль «Карот» выставка в музее им. Глинки<br>

2007 – мир Живописи в Манеже<br>

2006 – "Диалог культур" в Московском Доме Национальностей<br>

2006 – выставка - конкурс в Третьяковской галерее.<br>

2006 – "Золотая кисть" ЦДХ<br>

2005 – рождественская выставка в "Зале на Беговой"<br>

2004 – выставка "Отцы и дети" в галерее Art Trophy<br>

2003 – "Арт-Манеж 2003", Манеж, Москва<br>

2002 – банк "ABN AMRO".<br>

2002 – групповая выставка. ЦДХ.<br>

2002 – "Арт-Манеж 2002", Манеж, Москва<br>

2001 – выставка художников МСХ, ЦДХ.<br>

2001 – благотворительная выставка-продажа при поддержке Фонда Горбачева в

Музее Современного Искусства<br>

2001 – "1700 лет христианству в Армении"<br>

2001 – персональная выставка в "Travel House Gallery" (Москва)<br>

2001 – "25-я молодежная выставка".Выставочный зал Союза Художников на

Кузнецком Мосту<br>

2001 – "Москва глазами молодых".Выставочный зал на Солянке.<br>

2001 – выставка дипломов Московского Государственного Художественного

Академического Института имени Сурикова в Академии Художеств<br>

2001 – "36" в выставочном зале Московского Академического Художественного

Лицея<br>

2001 – "Монолит" (Москва)<br>

2000 – "Молодежная-2000". Выставочный зал Союза Художников на Кузнецком Мосту<br>

2000 – "Золотая кисть"<br>

2000 – групповая выставка в Российском Национальном Коммерческом Банке<br>

2000 – выставка творческого объединения "Септима", ЦДХ<br>

1999 – "Молодежная-99". Выставочный зал Союза Художников на Кузнецком Мосту<br>

1999 – студенческая выставка в Славянском Культурном Центре<br>

1997 – персональная г. Корчула (Хорватия)<br>

1997 – персональная г. Вена (Австрия)<br>

1997 – "Москва - 850 лет"<br>

1997 – "Молодежная-97".Выставочный зал Союза Художников на Кузнецком Мосту<br>

1995 – выставка учеников Московского Академического Художественного Лицея в

Академии художеств России<br>

1994 – персональная выставка в г. Бремен (Германия)<br>
                </div>
            </li>
        </ul>
         <img class="line" src="{% static "fcgt/images/line-white.jpg" %}" alt="line">
     </div>

 <div class="jury1">
        <ul class="JuryList1">
            <li>
                <div><img class="portrait" src="{% static "fcgt/images/4Jury.png" %}" alt="1st Jury"></div>
                <div><span class="juryName">Алена Лавдовская</span></div>
                <div><span class="juryRang">заместитель креативного<br>
                        директора ЦУМа</span></div>
            </li>
            <li>
                <img  class="ealmOpen" src="{% static "fcgt/images/ealmOpen.png" %}" alt="ealmOpen"><div class="juryWords">
                    Несколько слов участникам: Иллюстрация − это моя страсть и хобби уже много лет, я рисовала, сколько себя помню. После обучения на стилиста в Art Institutes Sаn Francisco, NABA Milano и Текстильном университете в Москве я пришла к тому, что большее удовольствие мне доставляет работа с бумагой и кистью, а не с иголкой и нитью.
Меня всегда вдохновляли сильные красивые люди и яркие образы. Я специализируюсь на фешн-иллюстрации, поэтому в основном рисую моделей, как знаменитых, так и новые лица.
Самые знаковые для меня − это, конечно, иллюстрации для рекламных кампаний ЦУМа. Когда видишь свои работы на страницах глянца и в наружной рекламе − это очень мотивирует. Также мне было приятно представлять Россию в международном арт-проекте Lancome «The little black bottel − 20 artists one icon».
<br>
Нужно делать то, что тебе нравится, следить за тенденциями, найти свой стиль, не жалеть себя и идти к цели. Понять, кто твой гуру и главный критик, чтобы не давал расслабляться. И рисовать. Мне нравится, как сказал один великий художник, что главное не распыляться. Выбрать материал, инструмент и выжать из него максимум. Кто работает, к тому обязательно приходит удача!

</div><img id="ealm1" class="ealmClose" src="{% static "fcgt/images/ealmClose.png" %}" alt="ealmClose">
                <div class="about">
Образование: стилист и фешн-иллюстратор<br>
Academy of Art University San Francisco<br>
NABA Milano<br>
МГТУ им. Косыгина<br>
 <br>
Опыт работы:<br>
 <br>
2003-2005 - Gucci chief VM, Mercury<br>
В рамках работы: тренинги в Милане и Флоренции, опыт открытия бутиков и корнеров в ЦУМе, Барвихе и несколько глобальных смен концепций мерчендайзинга, оформление витрин по брендбуку.<br>

2005-по сегодняшний день - заместитель креативного директора ЦУМа (руководитель креативного отдела)<br>
c 2012 - на свободном графике, официальный фешн-иллюстратор <br>

                </div>
            </li>
        </ul>
         <img class="line" src="{% static "fcgt/images/line-white.jpg" %}" alt="line">
</div>

 <div class="jury1">
        <ul class="JuryList1">
            <li>
                <div><img class="portrait" src="{% static "fcgt/images/5Jury.png" %}" alt="1st Jury"></div>
                <div><span class="juryName">Илья Орлов</span></div>
                <div><span class="juryRang">художник, иллюстратор,<br>
                        преподаватель</span></div>
            </li>
            <li>
                <img id="ealm2" class="ealmOpen" src="{% static "fcgt/images/ealmOpen.png" %}" alt="ealmOpen"><div class="juryWords">
                    Напутствие участникам конкурса: Прочь сомнения- творите!
</div><img id="ealm3" class="ealmClose" src="{% static "fcgt/images/ealmClose.png" %}" alt="ealmClose">
                <div class="about">
Илья Орлов.<br>
Художник, иллюстратор, преподаватель.<br>
Закончил Институт им. Сурикова мастерскую искусства книги в 2003г, в том же году окончил Институт проблем современного искусства.<br>

 <br>
Участник выставок современного и традиционного искусства.<br>
с 1998 года занимается монументальной росписью в общественных и частных интерьерах.<br>
с 2000 года выступает как иллюстратор и художник раскадровки, на сегодняшний день в портфолио колоссальное количество работ
для известных российских журналов, ведущих рекламных агентств и киностудий.<br>
с 2009 года сотрудничает с иллюстраторской студией Bang-Bang Studio. <br>
с 2014г провожу мастер-классы по пастели и рисунку в рамках организованной компанией Faber-Castell школы искусств.<br>
о будущем : сейчас разрабатываю курс по кино и рекламной раскадровке ( сторибординг) для образовательного проекта для художников Bang-Bang Education. Надеюсь, запустим его уже в ближайшее время. Думаю будет интересно и полезно. Постараюсь передать весь накопленный за 16 лет опыт.<br>
                </div>
            </li>
        </ul>
         <img class="line" src="{% static "fcgt/images/line-white.jpg" %}" alt="line">
</div>


</div>





</div>
    <footer>
        <div class="footerwrap">
            <ul class="footerlist">
                <li class="footerleftmain">
                    <div class="footerright"><span>ООО "Фабер-Кастелл Анадолу</span></div>
                    <div class="footerright"><span>115432, Москва, проспект Андропова, дом 18/корп. 7</span></div>
                    <div class="footerright"><span>Бизнес-парк "Nagatino i-land"</span></div>
                </li>
                <li class="footerleft">
                    <div class="number"><span>+7 (495) 225 96 34</span></div>
                    <div class="email"><span>contest@faber-castell.com.ru</span></div>
                </li>
    </footer>

</body>
</html>