{% extends "fcgt/base.html" %}
{% load staticfiles %}
{% block title%}Karlbox супер приз конкурса Achtung {% endblock%}
{% block content %}
<h1 class="header">
    KARLBOX BY FABER-CASTELL
</h1>
<ul class="list_awards">
    <li>
        <img src="{% static 'fcgt/images/karlbox.png' %}" />
    </li>
    <li>
        <ul class="list_text_awards">
            <li>
                Супер-приз
            </li>
            <li>
                Karlbox by Faber-Castell!
            </li>
            <li class="small_logo_li">
                <a href="http://faber-castell.com.ru">
                    <img src="{% static 'fcgt/images/small_logo.png' %}" />
                </a>
            </li>
        </ul>
    </li>
</ul>
<h1 class="karl_header">
    Знакомьтесtь, KARLBOX от Faber-Castell!
</h1>
<p class="karl_text">
КАРЛ ЛАГЕРФЕЛЬД и Faber-Castell рады объявить о запуске KARLBOX — ограниченной серии высококачественных профессиональных художественных инструментов. Возникшая в 1761 семейная компания — один из самых известных в мире производителей продукции для изобразительного искусства и графики, и KARLBOX подчеркивает это наследие в симбиозе с современным и инновационным духом Карла Лагерфельда. Ограниченный выпуск  KARLBOX включает в себя 2500 наборов, которые были произведены исключительно для фирменных магазинов Faber-Castell, бутиков КАРЛА ЛАГЕРФЕЛЬДА во всем мире и универмага Harrods в Лондоне, начиная с 1 сентября 2016. Чуть позже, 19 сентября 2016, эксклюзивный набор появится в продаже еще в небольшом количестве универмагов и специализированных магазинов. В России запуск планируется в 2017 г.
</p>
<div class="karl_video_frame">
    <iframe width="950" height="534" src="https://www.youtube.com/embed/SrU8KK2IvAE" frameborder="0" allowfullscreen></iframe>
</div>
<p class="karl_text">
    Элегантный в своей простоте KARLBOX содержит 350 превосходных качественных арт-инструментов для графики и рисования. Гладкий полированный черный ящик, в котором находится продукция,  был разработан самим Карлом Лагерфельдом. Произведенный по высочайшим стандартам мастерства, его деревянное обрамление воссоздано по канонам и мотивам производства античных Китайских Свадебных Кабинетов —  внутри продукция хранится в стопках, художественные материалы сортированы по цветам и оттенкам, лично отобранным Карлом Лагерфельдом, — и символизирует синергию между модой, искусством и дизайном.
Ящики-стопки сменные, легко отделяются от основного массива шкафчика — для более удобной работы с нужной гаммой цветов. Каждый KARLBOX имеет свой уникальный идентификационный номер, а также свидетельство о подлинности.
</p>
<div class="karlbox_img_list_wrap">
    <ul class="karlbox_img_list">
        <li><img src="{% static 'fcgt/images/karlbox-1.png' %}"/></li>
        <li><img src="{% static 'fcgt/images/karlbox-2.png' %}"/></li>
        <li><img class="karl_box_img_fix" src="{% static 'fcgt/images/karlbox-3.png' %}"/></li>
    </ul>
</div>
<p class="karl_text">
    «Со времен моего детства в Германии, Faber-Castell особенно известен благодаря своему высочайшему качеству» , — говорит Карл Лагерфельд. «Эта безупречная репутация сохраняется и по сей день, особенно в части производства художественных принадлежностей».
</p>
<p class="karl_text">
    В течение его прославленной карьеры, дизайнер использовал продукты Faber-Castell, чтобы создавать свои бесчисленные произведения искусства. От моды и дизайна к письму и письменным аксессуарам, Карл Лагерфельд чаще всего обращается к ручке и бумаге, чтобы воплотить свои идеи в жизнь, каждым штрихом  карандаша или пастели, выражающими новое видение его творческого гения.
</p>
<p class="karl_text_tea">
    «Что вдохновляет меня в рисовании — так это сам процесс. — добавляет Лагерфельд — Для меня рисовать — это то же самое, что дышать, писать. В основном, это и расслабляет меня».
</p>
<div class="karlbox_img_list_wrap">
    <ul class="karlbox_img_list">
        <li><img src="{% static 'fcgt/images/karlbox-4.png' %}"/></li>
        <li><img src="{% static 'fcgt/images/karlbox-5.png' %}"/></li>
        <li><img src="{% static 'fcgt/images/karlbox-6.png' %}"/></li>
    </ul>
</div>
<p class="karl_text">
    Коллекция KARLBOX олицетворяет огромный выбор  премиальных инструментов для художников, включая цветные карандаши Albrecht Dürer и Polychromos, высоко пигментиронные капиллярные ручки и маркеры Pitt Artist Pen, чернографитовые карандаши Castell 9000, графитовые мелки и пастель Pitt, акварельные кисти, а также такие аксессуары, как стаканчик для воды Click-n-Go, ластики и точилки. Созданные в соответствии с высочайшими стандартами качества, оттенки сортированы по основным и дополнительным цветам палитры, от мягких пастельных цветов до ярких насыщенных оттенков с высоким содержанием пигмента. Любимая линейка инструментов Карла Лагерфельда — акварельные цветные карандаши  Albrecht Dürer, все 120 оттенков которых включены в состав KARLBOX.
</p>
{% endblock %}
