<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'fcgt/styleShops.css' %}" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>ACHTUNG! Faber-Castell ищет таланты!</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
    <link rel="shortcut icon" href="{% static "fcgt/images/favicon-FC.jpg" %}" type="image/jpg">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<div id="wrapper">


<header>
    <div class="title">
                <div id="share">
            <div class="shareDiv">
            <span class="shareSpan">
            Поделиться</span>
            <div class ="shareImg">

<a id="shareT" href="https://twitter.com/intent/tweet?text=Achtung! Faber-Castell ищет таланты! http://fabercastellgottalent.com/">
   <img src="{% static "fcgt/images/twitter.png" %}" />
</a>
            <a id="shareF" href="http://www.facebook.com/sharer.php?u=http://fabercastellgottalent.com/">
   <img src="{% static "fcgt/images/Facebook.png" %}" />
</a>
            <a id="shareV" href="http://vk.com/share.php?url=http://fabercastellgottalent.com/">
   <img src="{% static "fcgt/images/vk.png" %}" />
</a>
            <a id="shareG" href="https://plus.google.com/share?url=http://fabercastellgottalent.com/">
   <img src="{% static "fcgt/images/google.png" %}" />
</a>
            <a id="shareO" href=" https://connect.ok.ru/offer?url=http://fabercastellgottalent.com">
   <img src="{% static "fcgt/images/ok.png" %}" />
</a>
</div>
        </div>
            </div>
        <div class="logo">
            <span id="auchtung">ACHTUNG!  </span>
            <img id="swoosh" src="{% static "fcgt/images/swoosh.png" %}" alt="swoosh">
            <a href="/"><img src="{% static "fcgt/images/logo.png" %}" alt="Logo"></a>
            <span>  Ищет таланты!</span>
        </div>
        <nav class="menu">
         <ul class="top-menu">
            <li><a href="{% url 'fcgt:rules' %}">ПРАВИЛА </a></li>
            <li><a href="{% url 'fcgt:uchastnikam' %}">УЧАСТНИКАМ</a></li>
            <li><a href="{% url 'fcgt:jury' %}">ЖЮРИ</a></li>
            <li><a  href="{% url 'fcgt:nagradi'%}">ПРИЗЫ</a></li>
             <li> <a href="{% url 'fcgt:index' %}#send">УЧАСТВОВАТЬ</a></li>
             <li> <a id="currentlink" href="{% url 'fcgt:where_buy' %}">ГДЕ КУПИТЬ</a></li>
          </ul>
        </nav>
    </div>
</header>

<div class="list">
        <ul class="gallerylink">
            <li><a href="{% url 'fcgt:gallery' %}"><img src="{% static "fcgt/images/blackandwhite.png" %}" alt="black and white">Черное и Белое <br>и Серое</a></li>
            <li><a href="{% url 'fcgt:gallery2' %}"><img src="{% static "fcgt/images/trypaint.png" %}" alt="black and white">Цветопробы или <br>Profi vs Hobby</a></li>
            <li><a href="{% url 'fcgt:gallery3' %}"><img src="{% static "fcgt/images/scatching.png" %}" alt="black and white">Скетчинг</a></li>
            <li><a href="{% url 'fcgt:gallery4' %}"><img src="{% static "fcgt/images/copypast.png" %}" alt="black and white">Copy+Paste или <br>Копипастеры всех стран <br>объединяйтесь</a></li>
            <li><a href="{% url 'fcgt:gallery5' %}"><img src="{% static "fcgt/images/MiniArt.png" %}" alt="black and white">Мини-художники</a></li>
        </ul>
 </div>



    <div class="stepsWrapper">
        <p id="p1">Список магазинов, где можно приобрести продукцию Faber-Castell</p>

        <table>
            <tr>
                <td><span>Город</span></td>
                <td><span>Название магазина</span></td>
                <td><span>Адрес</span></td>
                <td><span>Сайт</span></td>
            </tr>

            {% for shop in shops %}

            <tr class="shopsTr">
                <td><span class="shopsSp">{{ shop.city }}</span></td>
                <td><span class="shopsSp">{{ shop.name }}</span></td>
                <td><span class="shopsSp">{{ shop.adress }}</span></td>
                <td><span class="shopsSp">{{ shop.web }}</span></td>
            </tr>
            {% endfor %}
        </table>

    <footer>
        <div class="footerwrap">
            <ul class="footerlist">
                <li class="footerleftmain">
                    <div class="footerright"><span>ООО "Фабер-Кастелл Анадолу"</span></div>
                    <div class="footerright"><span>115432, Москва, проспект Андропова, дом 18/корп. 7</span></div>
                    <div class="footerright"><span>Бизнес-парк "Nagatino i-land"</span></div>
                </li>
                <li class="footerleft">
                    <div class="number"><span>+7 (495) 225 96 34</span></div>
                    <div class="email"><span>contest@faber-castell.com.ru</span></div>
                </li>
    </footer>

</body>
</html>